<!DOCTYPE html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>rambros leaderboard</title>
</head>
<center>
    <body>
        <h1>rambros leaderboard</h1>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>AKA</th>
                    <th>Rank</th>
                    <th>Games</th>
                    <th>Winrate</th>
                    <th>Streak</th>
                </tr>
            </thead>
            <tbody>
                {% for player in data %}
                <tr>
                    <td>{{ player.place }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.aka }}</td>
                    <td>{{ player.full_rank }}</td>
                    <td>{{ player.games }}</td>
                    <td>{{ player.winrate }}%</td>
                    <td>{{ player.streak }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</center>
</html>